// ESTILOS GENERALES, GENERALMENTE SE APLICAN A ETIQUETAS HTML Y NO A CLASES O IDS



html
  font-size 62.5% //10px
  background: #ECECEA;

  *
    font-family 'Lato', arial, helvetica
    

main,#outdated
  font-size 1.6rem //16px tamaño estándar


html, body
  width 100%
  height 100%
  position absolute
  left 0
  top 0

body
  background: none;

main
  width 100%
  min-height 100%
  position relative
  left 0
  top 0
  right 0



//QUITAR PADDING A LOS ESTILOS DE BOOTSTRAP
[class*=col-]
  padding 0


h1
  font-size 3.5rem
h2
  font-size 3rem
h3
  font-size 2.5rem
h4
  font-size 2rem
h5
  font-size 1.6rem
h6
  font-size 1.2rem



h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin 0



//QUITAR OUTLINE A TODOS LOS ELEMENTOS
*:focus
  outline: none !important





//PLACEHOLDER
::-webkit-input-placeholder
 color: gray;
:-moz-placeholder  /* Firefox 18- */
 color: gray;
::-moz-placeholder   /* Firefox 19+ */
 color: gray;
:-ms-input-placeholder
 color: gray;




// MENSAJE QUE INDICA QUE DEBES ACTUALIZAR TU NAVEGADOR
.update-browser
  width 100%
  height 100%
  position fixed
  overflow hidden
  top 0
  bottom 0
  left 0
  right 0
  background #666
  display none

  .update-browser-header
    position fixed
    top 0
    left 0
    width 100%
    height 80px
    padding 25px
  .update-browser-link
    color white
    font-size 20px
    display block
    margin 0 auto
    width 60%
    a
      color white
      text-decoration underline





a:link, a:visited, a:hover, a:focus
  text-decoration none

fieldset
  border none

.btn, a
  cursor pointer
  
.form-control 
  height: 40px;
  color:#555555;
  border-radius: 4px;
  border: 1px solid #90A4AE;

  &[disabled], &[readonly]
    background: #eee;
    border: 1px solid #B2C0C7;
    
.form-control-error
  border-color: #ff2316;
  background-color: rgba(255, 54, 0, 0.12) !important;

.error-message, .regular-message
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  float:left;
  height: 40px;

  .error-message-ico, .regular-message-ico
    vertical-align: middle;
    margin-top: 7px;
    display: inline-block;
    width:25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    font-size:2.3em;
    float:left;

  .error-message-text
    margin-left: 10px;
    display: inline-block;

  .display-table
    width: calc(100% - 25px);
    float: left;

.regular-message 
  .regular-message-ico
    cursor: pointer;

  .regular-message-text
    margin-left: 10px;
    display: inline-block;

select
  appearance: none;
  background-image: url("../images/flecha-down.png") !important;
  background-repeat: no-repeat !important;
  background-position: 95% center !important;
  background-color: transparent;


.btn 
  width: 155px;
  border:2px solid #666;
.btn-success 
  background-color:#0098ab !important;
  border-color:#036c79 !important;
  
  &:hover, &:active 
    background-color:#036c79 !important;
    border-color:#036c79 !important;
.link, .link:hover, .link:visited 
  color:#0098AB;
  font-weight: 700;
  font-size:12px;









// DISPLAY TABLE
.display-table
  display-table()

  .display-table-cell
    display-table-cell()



// CENTER BLOCK
.big-center
  centers(1500px)

.center
  centers(1200px)

.small-center
  centers(980px)




// CLEARFIX
.clearfix
  clearfix()




// PROPERTIES
.hide
  opacity 0
.none
  display none
// .error
//   border 1px solid red !important
//   color red
//   display block
//   font-size 12px
//   height 17px



// ICO
.ico, .fa
  display inline-block



[v-cloak]
  display: none;







//AUTO WIDTH MODAL (FOR IMAGES)
.automodal.modal  
  .img-responsive
    margin: 0 auto;
    
  .modal-dialog
    max-width: 80%;
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
