
//DISPLAY TABLE (CENTRAR UN ELEMENTO VERTICALMENTE DE FORMA AUTOMÁTICA)

//CONTENEDOR
display-table()
  display table
  height 100%
  margin: 0 auto;

//ELEMENTO CENTRADO
display-table-cell()
  display table-cell
  vertical-align middle






// CENTER (CENTRAR UN ELEMENTO HORIZONTALMENTE)
centers(size)
  margin 0 auto
  display block
  clear both
  width 100%
  height inherit
  max-width size




// CLEARFIX
clearfix()
  &:before,
  &:after
    content: " ";
    display: table;
  &:after
    clear: both;



// LINE
line(w, h, m = '0 5px', bgc)
  width w
  height h
  display inline-block
  margin m
  background-color bgc





//FUENTES
ultralight()
  font-weight 100
light()
  font-weight 300
regular()
  font-weight 400
medium()
  font-weight 500
bold()
  font-weight 700




.bold
  bold()
.regular
  regular()
.light
  light()
