.normal-text {
  font-size: 12px;
}
.btn {
  width: auto;  
}
.confirmation-code {
  font-weight: 700;
  font-size:22px;
  padding:7px 10px;
  border:1px solid #83d2f0;
  background: #c4e6ec;
  margin-left: 10px;
}
.section-form .form-group {
  padding:10px 0;
  margin-left: 10px;
  width: calc(100% - 20px);
}
.section-form .form-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom:25px;
}
.section-form .form-division{ 
  margin: 10px 0;
}
.back-link {
  margin: -14px 0 14px 0;
  float: left;
}
.section-form .form-buttons {
  margin-top:35px;
}
.form-buttons .btn {
  margin-right:15px;
}
.btn .fa{
  font-size:1.4em;
  margin-right: 5px;
  vertical-align: middle;
}
.section-form {
  padding-right:20px;
}
h4{
  font-weight: 700;
}
.form-text-division{
 margin: 30px 0 5px 0;
}