
.main
  width: 100%;
  min-width: 1320px;
  float: left;
  overflow: hidden;
  
.main-header 
  width: 100%;
  height: 60px;
  box-shadow:0px 0px 2px rgba(0,0,0,0.65);
  background: #fff;
  padding: 0 15px;

  .header-logo 
    margin-top:10px;

.main-content 
    padding: 0 25px;





//NOTIFICATION CENTER
.notification-container 
  width: 100%;
  float:left;
  background:#fff;
  margin-bottom: 20px;
  padding:20px 20px 30px 20px;
  box-shadow:0px 0px 3px rgba(0,0,0,0.5);

  .notification-title
    font-size:26px;
    font-weight: 700;
    margin-bottom: 20px;

  .notification-ico
    float: left;
    margin-right: 25px;

  .notification-text
    float: left;
    font-size:12px;
    line-height: 30px;
    vertical-align: middle;
    width: calc(100% - 107px);

.notification-text-container
  width:calc(100% - 107px);
  height: 82px;




//SECTION
.section 
  width: 100%;
  float:left;
  padding: 28px 0;

.section-aside 
  background-color: #9d9d9d;
  height: 100%;
  position: absolute;
  right: 0;

.section-title 
  height: 45px;
  font-size: 25px;
  border-left: 10px solid #ff2316;
  margin: 0 0 25px 0;
  background: #9d9d9d;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;

  span 
    background: #6a6f70;
    width: 33%;
    height: 45px;
    line-height: 43px;
    float: left;
    padding-left: 10px;
    position: relative;

    .triangle 
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 45px solid transparent;
      border-left: 11px solid #6a6f70;
      position: absolute;
      right:-10px;



//SECTION FORM
.section-form 
  width: 100%;
  float:left;
  background: #fff;
  box-shadow:0px 0px 3px rgba(0,0,0,0.5);
  padding: 30px 290px 30px 20px;

  .section-form-indications 
    font-size: 16px;

  .form-division 
    height: 2px;
    background-color:rgb(120,144,156);



//FORM GROUP
.form-group 
  width: 100%;
  float: left;
  padding: 20px 0;
  margin:0;
  border-bottom: 2px dotted #a1a1a1;

  .label-height
    width: 100%;
    height: 40px;

  .form-group.no-border 
    border:none;

  .left-column
    max-width: 140px;
    float: left;

  .center-column
    max-width: 310px;

  .center-column .help-message
    margin-left:0;

  .help-message
    font-size:12px;
    margin: 2px 0 0 140px;

  .help-ico
    margin-top: 15px;

  label 
    width: 100%;
    padding-right: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    margin:0;

  .input-big 
    width: 300px;

  .input-medium 
    width: 150px;

  .input-small 
    width: 89px;


