
.ico-pdf 
  width: 29px;
  height: 28px;
  vertical-align: middle;
  margin-right:7px;
  display: inline-block;
  cursor: pointer;
  background: url('../images/pdf-icon.png') no-repeat;

.ico-success 
  width: 82px;
  height: 82px;
  display: inline-block;
  background: url('../images/ico-success.png') no-repeat;

.ico-warning 
  width: 82px;
  height: 82px;
  display: inline-block;
  background: url('../images/ico-warning.png') no-repeat;

