

<template>
  <div class="error-message">
      <span class="fa fa-exclamation-circle error-message-ico dark-red" aria-hidden="true"></span>
      <div class="display-table">
          <div class="display-table-cell">
              <div>
                  <span class="error-message-text dark-red">
                    {{message}}
                  </span>
              </div>
          </div>
      </div>
  </div>
</template>


<script>
  export default {
    props: ['message']
  }
</script>