

<template>
  <header class="main-header col-xs-12">
    {{{imgSmall}}}
  </header>
</template>


<script>
  var imgSmall = '<img class="header-logo" src="' + require("../../images/aep-logo.png") + '" alt="AEP Logo">';

  export default {
    data: function() {
      return {
        imgSmall: imgSmall
      }
    }
  }
</script>