

<template>
  <div class="modal fade automodal" id="invoice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <br>
              </div>
              <div class="modal-body">
                  {{{image}}}
              </div>
          </div>
      </div>
  </div>
</template>


<script>
  export default {
    props: ['image']
  }
</script>