<template>
  <div class="notification-container">
    <h2 class="col-xs-12 black notification-title">{{content.title}}</h2>

    <div class="col-xs-12">
      <span class="notification-ico ico-{{content.type}}"></span>
      <div class="display-table notification-text-container">
        <div class="display-table-cell">
          <p class="notification-text">
            {{{content.message}}}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>



<script>

  export default {
    props: ['content']
  }
</script>